bin/
obj/
.vs/
lib/
dist/
*.user
*.suo
_dump_*.cs
_dump_*.exe
_dump_*.csproj
_api_dump*.txt
0Harmony*.dll
0Harmony*.xml
BepInEx*.dll
BepInEx*.xml
HarmonyXInterop.dll
Mono.Cecil*.dll
MonoMod.*.dll
MonoMod.*.xml
cjayride-ConfigurationManager-*.zip
